# Ignorar executáveis compilados (arquivos sem extensão)
*
!*/
!*.c
!*.h
!*.json
!.gitignore
!.gitkeep
!Makefile
!README.md

# Permitir imagens
!*.png
!*.jpg
!*.gif

# Ignorar pastas temporárias do VS Code
.history/
.vscode-test/
